<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>sms</servlet-name>
  	<display-name>sms</display-name>
  	<description></description>
  	<servlet-class>sendMail.sms</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>hellio</servlet-name>
  	<display-name>hellio</display-name>
  	<description></description>
  	<servlet-class>sendMail.hellio</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sms</servlet-name>
  	<url-pattern>/sms</url-pattern>
  </servlet-mapping>
 
</web-app>
